<!DOCTYPE html>
<html lang="tr">
    <head><%- include('./head') -%>
        <script src="https://www.youtube.com/s/player/577098c0/player_ias.vflset/en_US/base.js"></script>
    </head>
    <body class="bg-white w-screen flex flex-col text-black dark:text-white dark:bg-black select-none overflow-y overflow-x-hidden ease duration-200">
        <main class="transition ease-in z-0 h-screen w-screen flex">
            <%- include('./navbar') -%>
            <section class="flex-auto p-6 pt-16">
                <div class="container mx-auto flex">
                    <div class="w-full mx-16 py-6">
                        <div class="border-b">
                            <% if (videos) { %>
                                <h3 class="py-6 text-base font-medium">
                                    Arama Sonuçları Listelendi!
                                    <span class="ml-3 text-grey-dark">"<%= search %>"</span>
                                </h3>
                                <div class="flex justify-center pb-4">
                                    <form method="POST">
                                        <div class="flex px-4 w-full" id="search_video1"></div>
                                        <script>
                                            var awaittime = 5;
                                            var downloadTimer = setInterval(function () {
                                                let before = `
                                                    <a class="grow p-2 w-full cursor-not-allowed transition duration-300 focus:outline-none bg-purple-300 text-white font-bold tracking-wider block rounded-lg">
                                                        Yeni video aramak için ${awaittime}s bekleyin.
                                                    </a>`;
                                                let after = `
                                                    <input id="videoname" name="videoname" type="text"
                                                        class="grow p-2 mx-1 bg-gray-200 focus:outline-none bg-gray-100 block py-2 px-4 rounded-lg text-black"
                                                        placeholder="Video Ara!" aria-describedby= "help" autocomplete= "off" autofocus required />
                                                    <button type="submit"
                                                        class="grow p-2 mx-1 transition duration-300 focus:outline-none bg-purple-600 text-white font-bold tracking-wider block rounded-lg hover:bg-purple-700">
                                                        <i class="far fa-search"></i>
                                                    </button>`;
                                                if (awaittime <= 0) clearInterval(downloadTimer)
                                                document.getElementById("search_video1").innerHTML = awaittime <= 0 ? after : before
                                                awaittime -= 1;
                                            }, 1000);
                                        </script>
                                    </form>
                                </div>
                                <div class="flex flex-wrap mb-4">
                                    <% videos.slice(0,5).map(v => { %> 
                                        <div onclick="location.href='/video/izle/<%= v.videoId %>'" class="flex-1 m-2 cursor-pointer">
                                            <div>
                                                <img src="<%= v.thumbnail %>">
                                            </div>
                                            <div class="mb-4">
                                                <h4 class="text-sm font-medium"><%= v.title.slice(0,30) %><%= v.title.slice(30,31) ? "..." : "" %> </h4>
                                                <p class="mt-2 font-hairline text-sm text-grey-darker">
                                                    <%= v.author.name.slice(0,30) %> <%=  v.author.name.slice(30,31) ? "..." : "" %>
                                                    <span class="w-3 h-3 text-white inline-block text-center rounded-full bg-grey-dark text-2xs">&#10003;</span>
                                                </p>
                                                <p class="mt-1 font-hairline text-xs text-grey-darker">
                                                    <%= v.views %> kez görüntülendi.
                                                </p>
                                            </div>
                                        </div>
                                    <% }) %> 
                                </div>
                                <div class="flex flex-wrap mb-4">
                                    <% videos.slice(5,10).map(v => { %> 
                                        <div onclick="location.href='/video/izle/<%= v.videoId %>'" class="flex-1 m-2 cursor-pointer">
                                            <div>
                                                <img src="<%= v.thumbnail %>">
                                            </div>
                                            <div class="mb-4">
                                                <h4 class="text-sm font-medium"><%= v.title.slice(0,30) %><%= v.title.slice(30,31) ? "..." : "" %> </h4>
                                                <p class="mt-2 font-hairline text-sm text-grey-darker">
                                                    <%= v.author.name.slice(0,30) %> <%=  v.author.name.slice(30,31) ? "..." : "" %>
                                                    <span class="w-3 h-3 text-white inline-block text-center rounded-full bg-grey-dark text-2xs">&#10003;</span>
                                                </p>
                                                <p class="mt-1 font-hairline text-xs text-grey-darker">
                                                    <%= v.views %> kez görüntülendi.
                                                </p>
                                            </div>
                                        </div>
                                    <% }) %> 
                                </div>
                                <div class="flex flex-wrap mb-4">
                                    <% videos.slice(10, 15).map(v => { %> 
                                        <div onclick="location.href='/video/izle/<%= v.videoId %>'" class="flex-1 m-2 cursor-pointer">
                                            <div>
                                                <img src="<%= v.thumbnail %>">
                                            </div>
                                            <div class="mb-4">
                                                <h4 class="text-sm font-medium"><%= v.title.slice(0,30) %><%= v.title.slice(30,31) ? "..." : "" %> </h4>
                                                <p class="mt-2 font-hairline text-sm text-grey-darker">
                                                    <%= v.author.name.slice(0,30) %> <%=  v.author.name.slice(30,31) ? "..." : "" %>
                                                    <span class="w-3 h-3 text-white inline-block text-center rounded-full bg-grey-dark text-2xs">&#10003;</span>
                                                </p>
                                                <p class="mt-1 font-hairline text-xs text-grey-darker">
                                                    <%= v.views %> kez görüntülendi.
                                                </p>
                                            </div>
                                        </div>
                                    <% }) %> 
                                </div>
                            <% } %>
                            <% if (video) { %>
                                <div class="flex justify-center pb-4">
                                    <form method="POST">
                                        <div class="flex px-4 w-full" id="search_video2"></div>
                                        <script>
                                            var awaittime = 5;
                                            var downloadTimer = setInterval(function () {
                                                let before = `
                                                    <a class="grow p-2 w-full cursor-not-allowed transition duration-300 focus:outline-none bg-purple-300 text-white font-bold tracking-wider block rounded-lg">
                                                        Yeni video aramak için ${awaittime}s bekleyin.
                                                    </a>`;
                                                let after = `
                                                    <input id="videoname" name="videoname" type="text"
                                                        class="grow p-2 mx-1 bg-gray-200 focus:outline-none bg-gray-100 block py-2 px-4 rounded-lg text-black"
                                                        placeholder="Video Ara!" aria-describedby= "help" autocomplete= "off" autofocus required />
                                                    <button type="submit"
                                                        class="grow p-2 mx-1 transition duration-300 focus:outline-none bg-purple-600 text-white font-bold tracking-wider block rounded-lg hover:bg-purple-700">
                                                        <i class="far fa-search"></i>
                                                    </button>`;
                                                if (awaittime <= 0) clearInterval(downloadTimer)
                                                document.getElementById("search_video2").innerHTML = awaittime <= 0 ? after : before
                                                awaittime -= 1;
                                            }, 1000);
                                        </script>
                                    </form>
                                </div>
                                <div class="flex justify-center m-2 p-2 rounded-xl relative group border-b">
                                    <div class="p-2 bg-pink-600 rounded-xl">
                                        <div class="relative bg-blue-700 rounded-xl transition-transform transform ease duration-500">
                                            <video class="rounded-xl" id="video" width="800" height="450" autoplay controls >
                                                <source src="<%= video.player.url %>" type="video/mp4">
                                            </video>
                                            <script>
                                                var video = document.getElementById("video")
                                                mediumVolume()
                                                function mediumVolume() { 
                                                    video.volume = 0.5
                                                }
                                                </script> 
                                        </div>
                                    </div>
                                </div>
                                <% if (related) { %>
                                    <div class="flex flex-wrap mb-4">
                                        <% related.slice(1,6).map(v => { %> 
                                            <div onclick="location.href='/video/izle/<%= v.videoId %>'" class="flex-1 m-2 cursor-pointer">
                                                <div>
                                                    <img src="<%= v.thumbnails[v.thumbnails.length - 1].url %>">
                                                </div>
                                                <div class="mb-4">
                                                    <h4 class="text-sm font-medium"><%= v.title.slice(0,30) %><%= v.title.slice(30,31) ? "..." : "" %> </h4>
                                                    <p class="mt-2 font-hairline text-sm text-grey-darker">
                                                        <%= v.author.name.slice(0,30) %> <%=  v.author.name.slice(30,31) ? "..." : "" %>
                                                        <span class="w-3 h-3 text-white inline-block text-center rounded-full bg-grey-dark text-2xs">&#10003;</span>
                                                    </p>
                                                    <p class="mt-1 font-hairline text-xs text-grey-darker">
                                                        <%= v.view_count %> kez görüntülendi.
                                                    </p>
                                                </div>
                                            </div>
                                        <% }) %> 
                                    </div>
                                <% } %>
                            <% } %>
                            
                            <% if (!video && !videos) { %>
                                <div class="flex justify-center pb-4">
                                    <form method="POST">
                                        <div class="flex px-4 w-full" id="search_video3"></div>
                                        <script>
                                            var awaittime = 2;
                                            var downloadTimer = setInterval(function () {
                                                let before = `
                                                    <a class="grow p-2 w-full cursor-not-allowed transition duration-300 focus:outline-none bg-purple-300 text-white font-bold tracking-wider block rounded-lg">
                                                        Yeni video aramak için ${awaittime}s bekleyin.
                                                    </a>`;
                                                let after = `
                                                    <input id="videoname" name="videoname" type="text"
                                                        class="grow p-2 mx-1 bg-gray-200 focus:outline-none bg-gray-100 block py-2 px-4 rounded-lg text-black"
                                                        placeholder="Video Ara!" aria-describedby= "help" autocomplete= "off" autofocus required />
                                                    <button type="submit"
                                                        class="grow p-2 mx-1 transition duration-300 focus:outline-none bg-purple-600 text-white font-bold tracking-wider block rounded-lg hover:bg-purple-700">
                                                        <i class="far fa-search"></i>
                                                    </button>`;
                                                if (awaittime <= 0) clearInterval(downloadTimer)
                                                document.getElementById("search_video3").innerHTML = awaittime <= 0 ? after : before
                                                awaittime -= 1;
                                            }, 1000);
                                        </script>
                                    </form>
                                </div>
                            <% } %>
                        </div>
                    </div>
                </div>
                <%- include('./footer') -%>
            </section>
        </main>
        <%- include('./system') -%>
    </body>
</html>