
<form method="POST">
    <div class="flex pt-4 px-4 w-full">
        <input id="videoname" name="videoname" type="text"
            class="grow p-2 mx-1 bg-gray-200 focus:outline-none bg-gray-100 block py-2 px-4 rounded-lg text-black"
            placeholder="Video Ara!" aria-describedby= "help" autocomplete= "off" autofocus required />
        <button type="submit"
            class="w-16 p-2 mx-1 transition duration-300 focus:outline-none bg-purple-600 text-white font-bold tracking-wider block rounded-lg hover:bg-purple-700">
            <i class="far fa-search"></i>
        </button>
    </div>
</form>
<div class="flex flex-wrap p-8">
    <div class="rounded-lg" id="player"></div>
    <% if (related) { %>
        <div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-2 gap-2 right-0 bg-black ml-0 md:ml-0 xl:ml-2 rounded-lg mt-8 md:mt-4 xl:mt-0 flex flex-wrap ">
            <% related.slice(0,6).map(v => { %> 
                <div onclick="location.href='/izle/<%= v.id %>'"
                    class="flex items-center justify-center flex-col m-1 rounded-lg cursor-pointer">
                    <div class="flex items-center">
                        <div class="flex-shrink-0 bg-gray-200 dark:bg-gray-900 dark:bg-opacity-20 shadow-2xl max-w-md mx-auto rounded-xl overflow-hidden md:max-w-2xl">
                            <div class="md:flex">
                                <div class="md:shrink-0">
                                    <img class="h-36 w-full object-cover md:h-full md:w-32" src="<%= v.thumbnails[v.thumbnails.length - 1].url %>" alt="<%= v.id %>">
                                </div>
                                <div class="p-2">
                                    <div class="inline md:hidden xl:hidden">
                                        <div class="capitalize tracking-wide text-sm text-indigo-500">
                                            <%= v.title.slice(0,32) %><%= v.title.slice(32,33) ? "..." : "" %>
                                        </div>
                                        <a class="capitalize block mt-1 text-sm leading-tight text-black dark:text-white">
                                            <%= v.author.name.slice(0,32) %> <%=  v.author.name.slice(32,33) ? "..." : "" %>
                                        </a>
                                    </div>
                                    <div class="hidden xl:hidden md:inline">
                                        <div class="capitalize tracking-wide text-sm text-indigo-500">
                                            <%= v.title.slice(0,20) %><%= v.title.slice(20,21) ? "..." : "" %>
                                        </div>
                                        <a class="capitalizeblock mt-1 text-sm leading-tight text-black dark:text-white">
                                            <%= v.author.name.slice(0,20) %> <%=  v.author.name.slice(20,21) ? "..." : "" %>
                                        </a>
                                    </div>
                                    <div class="hidden xl:inline">
                                        <div class="capitalize tracking-wide text-sm text-indigo-500">
                                            <%= v.title.slice(0,20) %><%= v.title.slice(20,21) ? "..." : "" %>
                                        </div>
                                        <a class="capitalize block mt-1 text-sm leading-tight text-black dark:text-white">
                                            <%= v.author.name.slice(0,20) %> <%=  v.author.name.slice(20,21) ? "..." : "" %>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <% }) %> 
        </div>
    <% } %>
</div>
<script>
    var tag = document.createElement('script')
    tag.src = "https://www.youtube.com/iframe_api"

    var firstScriptTag = document.getElementsByTagName('script')[0]
    firstScriptTag.parentNode.insertBefore(tag, firstScriptTag)

    var player;
    function onYouTubeIframeAPIReady() {
        player = new YT.Player('player', {
            height: '324',
            width: '576',
            videoId: '<%= video.videoId %>',
            playerVars: {
                'playsinline': 1
            },
            events: {
                'onReady': onPlayerReady,
            }
        })
    }

    function onPlayerReady(event) {
        event.target.playVideo();
    }

    function stopVideo() {
        player.stopVideo();
    }
</script>